<div class="container">
	<div class="display-4"><span class="badge badge-info">Home Page</span></div>
	<div class="display-4">All posts list</div>
	<div class="media border p-3" ng-repeat="post in vm.posts">
		<img ng-src="{{ post.link }}" alt="{{ post.title }}" class="mr-3 mt-3" style="width:70px;">
	    <div class="media-body">
	    	<h4>{{ post.author }} <small><i>Posted on </i><i ng-bind="post.date | date"></i></small></h4>
	    	<p>Title: {{ post.title }}</p>
	    	<p>{{ post.content }}</p>
	    	<button class="btn btn-info" ui-sref="post({id: post._id})"><i class="fa fa-info-circle"></i> More...</button>
	    	<span>{{ post.comments.length }} comment(s)</span>
	    </div>
	</div>
</div>

<section class="modal" ng-if="vm.objectToEdit != null">
	<div class="modal__backdrop" ng-click="vm.closeModal()"></div>
	<div class="modal__window">
		<div class="modal__title">Edit Post</div>
		<div class="modal__field">
			<label for="title">Title:</label>
			<input type="text" class="input input_modal" ng-model="vm.objectToEdit.title" id="title">
		</div>
		<div class="modal__field">
			<label for="content">Content:</label>
			<input type="text" class="input input_modal" ng-model="vm.objectToEdit.content" id="content">
		</div>
		<div class="modal__field">
			<label for="author">Author:</label>
			<input type="text" class="input input_modal" ng-model="vm.objectToEdit.author" id="author">
		</div>
		<img ng-src="{{ vm.objectToEdit.link }}" class="modal__image">
		<button class="btn btn__blue" ng-click="vm.editPost()"><i class="fa fa-edit"></i> Edit</button>
		<button class="btn btn__grey" ng-click="vm.closeModal()"><i class="fa fa-times"></i> Close</button>
	</div>
</section>





