<section class="post-detail">
	<img class="post-image" ng-src="{{ vm.post.link || '../images/no-image.png' }}">
	<span class="post-title">Title: {{ vm.post.title }}</span>
	<span class="post-content">Content: {{ vm.post.content }}</span>
	<div class="post-detail-info">
		<span class="post-author">Author: {{ vm.post.author }}</span>
		<span class="post-date">Created Date: {{ vm.post.data }}</span>
	</div>
	<button class="btn btn__blue" ui-sref="home">Back</button>
</section>

<!-- ng-if="vm.post.link == null src='../images/ben_hershey.jpg'" -->