<div class="container auth">
	<img src="../images/github-logo.svg" class="auth-logo" ui-sref="home">
	<div class="display-4">Sign Up</div>
	<form ng-submit="vm.register()" class="form-signin">
		<div class="form-group">
			<input class="form-control" type="text" ng-model="vm.name" placeholder="Name..." required>
		</div>
		<div class="form-group">
			<input class="form-control" type="email" ng-model="vm.email" placeholder="Email..." required>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" ng-model="vm.password" placeholder="Password..." required>
		</div>
		<button class="btn btn-primary btn-block" type="submit"><i class="fa fa-user-plus"></i> Sign Up</button>
	</form>
</div>