html {
	font-family: Helvetica, Verdana, sans-serif;
}

button {
	background-color: navy;
	font-size: 1.1em;
	color: white;
	border-radius: 30px;
}

table button {
	background-color: red;
	font-size: 1.1em;
	color: white;
	border-radius: 30px;
}

thead {
	background-color: grey;
	color: white;
	text-align: center;
}

input {
	font-size: 1.1em;
}

form button {
	background-color: green;
	font-size: 1.1em;
	color: white;
	border-radius: 30px;
}