.post-detail {
	max-width: 700px;
	margin: 10px auto;
}

.post-detail h1 {
	text-align: center;
}

.post-image {
	position: relative;
	display: block;
	width: 40%;
	margin: 15px auto; 
	background-color: #eee;
}

.post-table {
	width: 90%;
	background-color: transparent;
	margin: 10px auto;
}

.post-table td {
	padding: 10px 0;
	border-bottom: 1px solid grey;
}

.post-detail button {
	display: block;
	margin: 0 auto;
}

