.like {
	width: 17px;
	cursor: pointer;
}

.like:hover {
	transform: scale(1.1);
}

.heart {
	width: 17px;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	font-size: 16px;
	border: 1px solid lightgrey;
	background-color: rgb(235, 235, 235);
	padding: 5px 10px;
	cursor: pointer;
}

.pagination-item:hover {
	border-color: black;
}

.pagination-item.active {
	background-color: rgb(250, 250, 250);
	font-weight: 600;
}