.btn {
	font-size: 1em;
	font-weight: 400;
	margin: 5px;
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 1px 2px lightgrey;
	padding: 5px;
	min-width: 70px;
	outline: none;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.7;
	transition: all 0.2s;
}

.btn:active {
	transform: scale(0.9);
}

.btn-circle {
	border: 1px solid;
	border-radius: 30px;
	box-shadow: 1px 2px lightgrey;
	min-width: 40px;
	min-height: 40px;
	margin: 3px 0;
	outline: none;
	cursor: pointer;
}

.btn-circle i {
	font-size: 18px;
}

.btn-circle:hover {
	opacity: 0.7;
	transition: all 0.2s;
}

.btn-circle:active {
	transform: scale(0.9);
}
	
	.btn__black {
		background-color: rgba(0, 0, 0, 0.8);
		border-color: rgba(0, 0, 0, 0.8);
		color: white;
	}


	.btn__green {
		background-color: rgb(0, 153, 115);
		border-color: rgb(0, 153, 115);
		color: white;
	}

	.btn__blue {
		background-color: rgb(51, 102, 153);
		border-color: rgb(51, 102, 153);
		color: white;
	}

	.btn__red {
		background-color: rgb(204, 0, 0);
		border-color: rgb(204, 0, 0);
		color: white;
	}

	.btn__turquoise {
		background-color: rgb(41, 163, 163);
		border-color: rgb(41, 163, 163);
		color: white;
	}

	.btn__grey {
		background-color: rgb(115, 115, 115);
		border-color: rgb(115, 115, 115);
		color: white;
	}
