.button {
	outline: none;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 12px;
	border-radius: 5px;
}

	.button_chat {
		width: 150px;
		background-color: cornflowerblue;
		color: white;
	}

	.button_search {
		background-color: cornflowerblue;
		color: white;
	}

	.button_disable {
		margin: 0 5px;
		width: 150px;
		background-color: rgb(247, 247, 247);
	}
