.footer {
	margin-top: 15px;
	height: 70px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgb(255, 255, 255);
}

.footer-content {
	font-family: 'Ubuntu', sans-serif;
	margin: auto 0;
	font-size: 14px;
}