.input {
	font-family: 'Arsenal', sans-serif;
	border-bottom: 1px solid rgb(41, 163, 163);
	color: lightgrey;
	margin: 5px;
	padding: 5px;
	width: 50%;
	outline: none;
}

.input:focus {
	border-color: navy;
	width: 60%;
	transition: 0.4s;
}

	.input__file {
		font-family: 'Arsenal', sans-serif;
		display: block;
		margin: 5px;
		padding: 5px;
		width: 50%;
		outline: none;
	}	


	
