.input {
	border-bottom: 1px solid rgb(41, 163, 163);
	font-size: 1.1em;
	margin: 5px;
	padding: 5px;
	width: 50%;
	outline: none;
}

	.input__modal {
		border-bottom: 1px solid rgb(41, 163, 163);
		font-size: 1.1em;
		margin: 5px;
		padding: 5px;
		width: 90%;
		outline: none;
	}
