.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	justify-content: center; /* by horizont */
	align-items: center; /* by vertical */
}

	.modal__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}

	.modal__window {
		position: relative;
		width: 65%;
		background-color: rgba(255, 255, 255, 1);
		z-index: 2;
		padding: 20px;

	}

	.modal__title {
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		font-size: 34px;
		font-weight: bold;
		color: rgb(51, 102, 153);
		maring-bottom: 25px;
	}

	.modal__image {
		position: relative;
		width: 30%;
		display: block;
		margin: auto;
	}

	.modal__field {
		display: block;
		font-size: 16px;
	}

	.modal__field label{
		cursor: pointer;
		display: inline-block;
		min-width: 80px;
		text-align: right;
		border: 1px solid rgb(51, 102, 153);
		border-radius: 5px;
		font-weight: bold;
		color: rgb(51, 102, 153);
		padding: 5px;
	}

	.modal__field input {
		border-bottom: 1px solid rgb(51, 102, 153);
		margin: 5px;
		padding: 5px;
		width: 70%;
		outline: none;
	}

	.modal__field input:focus {
		width: 75%;
		transition: all 0.3s;
	}

