.post-form {
	padding: 15px 0;
	width: 90%;
	margin: 15px auto;
}

.post-form form {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.post-form input {
	border-bottom: 1px solid rgb(41, 163, 163);
	margin: 10px 0;
	padding: 10px 0;
	width: 95%;
	outline: none;
	display: block;
}

.post-form input:focus {
	border-color: navy;
	width: 98%;
	transition: all 0.5s linear;
}

input.input-file  {
	border-bottom: none;
}

.post-title {
	margin: 15px 0;
	font-size: 34px;
}