.register {
	width: 50%;
	margin: 50px auto;
	padding: 5%;
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
}

.register input {
	outline: none;
	border-bottom: 1px solid grey;
	width: 90%;
	padding: 5px;
	margin: 5px 0;
}

.register-logo {
	width: 70px;
	margin: 15px 0;
	cursor: pointer;
}