.table {
	width: 100%;
	background-color: transparent;
	margin-top: 15px;
	margin-bottom: 15px;
}

.table td, th, tr {
	padding: 5px;
	border-bottom: 1px solid grey;
}

.table tbody>tr:hover {
	background-color: rgb(250, 250, 250);
}

.thead {
	font-weight: bold;
	text-align: left;
	background-color: lightblue;
}

